@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
:root {
   font-size: 16px;
   line-height: 1.5;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";

   -webkit-text-size-adjust: 100%;
   color: #24292e;
   --border-gray: rgb(153, 153, 153);
   --border-dark-gray: rgb(73, 73, 73);
   --card-gray: #f6f6f6;
   scroll-behavior: smooth;
}
* {
   box-sizing: border-box;
}
body {

}
h1, h2,h3,h4, h5, h6 {
               /* font-family: "Roboto", sans-serif; */
}
h3 {
   padding: 0px 28px 8px 8px;
   border-top: 4px solid var( --border-dark-gray);
   /* border-left: 4px solid var( --border-dark-gray); */
   display: inline-block;
}
main {
   font-size: 1.2rem;
   line-height: 1.5;
}
svg {
   vertical-align: middle;
}
li > * {
   vertical-align: top;
}
ul {
   margin-top: 0px;
}
ul ul li {
   list-style-type:disc;
}
ul a {
   padding-left: 4px;
   word-break: break-all;
}
ul * {
   vertical-align: text-bottom;

}
time {
   position: relative;
   top:-4px;
}
ul ul {
   margin: 5px 0px 0px -20px;
   font-size: 1rem;
}
.repo-container {
   margin: 0px;
   min-height: 180px;
}
.repo-container > ul {
   display: inline-block;
}
.gradient {
   pointer-events: all;
   fill: url("#gradient-layer-initial");
}

img {
   width: 200px;
   /* border-top: 10px solid  rgb(153, 153, 153);
   border-left: 10px solid  rgb(34, 34, 34);
   border-right: 10px solid  rgb(194, 194, 194);
   border-bottom: 10px solid  rgb(87, 87, 87);;
   */ 
   /* padding:2px;  */
   /* background-color: #000000;  */
   /* border-left: 5px solid var(--border-gray); */
   border: 3px solid black;
   vertical-align: top;
   margin: 10px -10px 0px 0px;
   /* margin: 43px -10px 0px 0px; */
}
.github-link {
   cursor: pointer;
   left: -5px;
   top: -2px;
   position: relative;
}

.gradient {
   fill: url("#gradient-layer");
}
.gradient-initial {
   transition: 0.4s;
}
.gradient ~ defs stop:first-child {
   stop-color: #e1a728;
}

.gradient ~ defs stop:nth-child(2) {
   stop-color: #e1a728;
}

.gradient ~ defs stop:last-child {
   stop-color: #24bed2;
}
/* .gradient[data-hover=false] ~ defs stop:first-child {
   stop-color: #240f3c;
}

.gradient[data-hover=false] ~ defs stop:nth-child(2) {
   stop-color: #3f2f0c;
}

.gradient[data-hover=false] ~ defs stop:last-child {
   stop-color: #1c2021;
} */
/* .gradient ~ defs stop:first-child {
   stop-color: #099b68;
}

.gradient ~ defs stop:nth-child(2) {
   stop-color: #6f28e1;
}

.gradient ~ defs stop:last-child {
   stop-color: #ac333b;
} */

time {
   font-size: 0.7rem;
   vertical-align: middle;
}
h1 {
   padding-bottom: 0.3em;
   margin-top: 0px;
   margin-bottom: 0px;
   font-size: 2rem;
   border-bottom: 1px solid #eaecef;
   font-weight: 600;
   line-height: 1.25;
}
#TOC {
   font-size: 0.7rem;
}
.bounce {
   position: relative;
   animation: bounce 0.7s infinite ease-in-out;
}
.title {
   position: relative;
   /* left: -15px; */
}
blockquote {
   /* border-radius: 5px; */
   background: var(--card-gray);
   margin: 5px 0px 0px 0px;
   padding: 10px 14px;
   border-left: 5px solid var(--border-gray);
   border-left: 5px solid var(--border-dark-gray);
   /* border-left: 5px solid rgb(73, 73, 73); */
   /* box-shadow: 0px 0px 10px 0px inset rgb(199, 199, 199); */
   font-size: 1rem;
}
.npm {
   border: none;
   width:35px;
   margin:10px 8px 0px 0px;
}
@keyframes bounce {
   0% {
      bottom: 5px;
   }
   25%,
   75% {
      bottom: 15px;
   }
   50% {
      bottom: 20px;
   }
   100% {
      bottom: 0;
   }
}
@media screen and (max-width: 768px) {

   blockquote, ul ul {
      font-size: 0.7rem;
   }
   img {
      width: 100%;
   }
   .repo-container > ul {
      display: block;
      padding: 0px;
      margin-top: 20px;
   }
}